<a href="https://colab.research.google.com/github/paulsandipan5/PracticePyspark/blob/main/18thAug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 54.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=7230a3d335c2c006ea8707ff1db0462b6c3afa70a7972c81e50336e438a5c410
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Pyspark Create RDD example").config("spark.some.config.option","some-value").getOrCreate()

In [7]:
team = spark.createDataFrame([('1','Sandipan','BigData','4thfloor'),
                             ('2','Saikat','MDM','3thfloor')],['Slno','Name','Dept','Floor'])
team.show()

+----+--------+-------+--------+
|Slno|    Name|   Dept|   Floor|
+----+--------+-------+--------+
|   1|Sandipan|BigData|4thfloor|
|   2|  Saikat|    MDM|3thfloor|
+----+--------+-------+--------+

In [8]:
team1 = spark.createDataFrame([('1','Sandipan','BigData','4thfloor'),
                             ('2','Shyam','MDM','3thfloor')],['Slno','Name','Dept','Floor'])
team1.show()

+----+--------+-------+--------+
|Slno|    Name|   Dept|   Floor|
+----+--------+-------+--------+
|   1|Sandipan|BigData|4thfloor|
|   2|   Shyam|    MDM|3thfloor|
+----+--------+-------+--------+

In [15]:
spark = SparkSession.builder.appName("PsarkParallize").config("spark.some.config.option", "some-value").getOrCreate()
df1 = spark.sparkContext.parallelize ([
(12, 20, 35, 'a b c'),
(41, 34, 64, 'd e f'),
(70, 85, 68, 'g e f')]).toDF(['1', '2', '3','4'])
df1.show()

+---+---+---+-----+
|  1|  2|  3|    4|
+---+---+---+-----+
| 12| 20| 35|a b c|
| 41| 34| 64|d e f|
| 70| 85| 68|g e f|
+---+---+---+-----+

In [10]:
sc = spark.sparkContext

In [11]:
xyz = sc.parallelize(                                                                                                                                             
["scala",                                                                                                                                                         
"java",                                                                                                                                                           
"hadoop",                                                                                                                                                         
"spark vs hadoop",                                                                                                                                                
 "pyspark",                                                                                                                                                        
"sparkconf"])

In [12]:
xyz.count()

6

In [21]:
xyz.take(3)

['scala', 'java', 'hadoop']

In [24]:
xyz.collect()

['scala', 'java', 'hadoop', 'spark vs hadoop', 'pyspark', 'sparkconf']

In [25]:
xyz.cache()

ParallelCollectionRDD[28] at readRDDFromFile at PythonRDD.scala:274

In [26]:
xyz.saveAsTextFile('new.txt')

In [29]:
xyz1 = xyz.repartition(4)

In [31]:
xyz1.saveAsTextFile('new1.txt')

In [34]:
import pandas as pd
data = pd.DataFrame.from_dict(
        {
            'Name':['Virat','Rohit','ABD','McCullum'],
            'Rank':[1,2,3,4],
            'Country':['India','India','SA','NZ']
        }
)
print(data)

       Name  Rank Country
0     Virat     1   India
1     Rohit     2   India
2       ABD     3      SA
3  McCullum     4      NZ

In [59]:
from datetime import datetime,date
from pyspark.sql import Row
import pandas as pd
df = spark.createDataFrame([
      Row(a=1, b=2, c='string1', d=date(2022,12,30), e = datetime(2022,1,4, 12,3,59)),
      Row(a=2, b=2, c='string1', d=date(2022,5,30), e = datetime(2022,1,1, 12,39,40)),
      Row(a=3, b=2, c='string1', d=date(2024,2,29), e = datetime(2022,1,1, 12,0,15)),
])
df.show()
df.show(2)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2022-12-30|2022-01-04 12:03:59|
|  2|  2|string1|2022-05-30|2022-01-01 12:39:40|
|  3|  2|string1|2024-02-29|2022-01-01 12:00:15|
+---+---+-------+----------+-------------------+

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2022-12-30|2022-01-04 12:03:59|
|  2|  2|string1|2022-05-30|2022-01-01 12:39:40|
+---+---+-------+----------+-------------------+
only showing top 2 rows

In [60]:
rdd = spark.sparkContext.parallelize(
[
 (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,11,50,23)),
  (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,12,0)),
  (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,12,0))



]   
)

df = spark.createDataFrame(rdd, schema = ['a','b','c','d','e'])
df
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2022-01-01|2022-01-01 11:50:23|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [65]:
rdd1 = spark.sparkContext.parallelize(
[
 (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,11,50,23)),
  (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,12,0)),
  (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,12,0))]).toDF(['1','2','3','4','5'])

In [68]:
rdd2 = spark.sparkContext.parallelize(
[
 (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,11,50,23)),
  (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,12,0)),
  (1,2., 'string1', date(2022,1,1), datetime(2022,1,1,12,0))])

In [66]:
rdd1.show()

+---+---+-------+----------+-------------------+
|  1|  2|      3|         4|                  5|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2022-01-01|2022-01-01 11:50:23|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [70]:
rdd3 =  spark.createDataFrame(rdd2,schema=['a','b','c','d','e'])
rdd3.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2022-01-01|2022-01-01 11:50:23|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [86]:
from pyspark.sql import Column
from pyspark.sql.functions import lower,upper,initcap

#type(df.c) == type(upper(df.c)) == type(df.c.isNull())

df.withColumn('InitialCap', initcap(df.c)).show()

+---+---+-------+----------+-------------------+----------+
|  a|  b|      c|         d|                  e|InitialCap|
+---+---+-------+----------+-------------------+----------+
|  1|2.0|string1|2022-01-01|2022-01-01 11:50:23|   String1|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|   String1|
|  1|2.0|string1|2022-01-01|2022-01-01 12:00:00|   String1|
+---+---+-------+----------+-------------------+----------+

In [77]:
type(upper(df.c))

pyspark.sql.column.Column

In [78]:
type(df.c)

pyspark.sql.column.Column

In [79]:
type(df.c.isNull())

pyspark.sql.column.Column

In [80]:
spark